<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>sdnext</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/sdnext-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>

<servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.sample.servlet.FileUploadServlet</servlet-class>
        
        
    </servlet>
    
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.sample.servlet.DownloadServlet</servlet-class>
        
        
    </servlet>
    
   

    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
        
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
        
    </servlet-mapping>
    
	<servlet-mapping>
		<servlet-name>sdnext</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>